{% extends 'base.html' %}

{% block title %}Main{% endblock %}

{% block content %}
    {% for post in post_list %}
        <div class="card mb-3">
            <div class="card-body">
                <h4 class="d-flex justify-content-between">
                    <a href="{% url 'post' post.pk %}">{{ post.title }}</a>
                    <small class="font-weight-normal ">{{ post.updated_at }}</small>
                </h4>
                <p>{{ post.text|truncatewords:50 }}</p>
                <hr>
                <p>Author: <a href="{% url 'user' post.user.pk %}">{{ post.user.name }}</a> <small>({{ post.user.email }})</small></p>
            </div>
        </div>
    {% endfor %}
{% endblock %}